[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix = 1

[client]
default-character-set = utf8mb4
